{% extends "layout.njk" %}

{% block body %}
<h1><i class="fas fa-sign-in-alt"></i> Log in</h1>
<form id="login-form" novalidate>
    <label for="username">Username</label>
    <input type="username" name="username" id="username" placeholder="Username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">
    <button type="submit"><i class="fas fa-sign-in-alt"></i> Log in</button>
</form>
<script>
    const form = document.querySelector("form");

    async function handleSubmit(event) {
        event.preventDefault();
        const formData = new FormData(event.target);
        const username = formData.get('username');
        const password = formData.get('password');
        const body = { username, password };
        try {
            const res = await fetch('/api/auth/login', {
                method: 'POST',
                body: JSON.stringify(body),
                headers: {
                    'content-type': 'application/json'
                }
            });
            if (res.status === 200) {
                window.location.href = '/home';
            }
        } catch (err) {
            console.log(err);
        }
    }

    form.addEventListener('submit', handleSubmit);
</script>
{% endblock %}
