{% extends "layout.njk" %}


{% block body %}
<h1><i class="fas fa-edit"></i> Sign up</h1>
<form>
    <label for="username">
        Username
        {% if (errors.username) %}
        <span class="error">(at least 3 lowercase alphanumeric characters)</span>
        <input type="text" name="username" id="username" placeholder="Username" value="{{ values.username }}" aria-invalid="true">
        {% else %}
        <input type="text" name="username" id="username" placeholder="Username" value="{{ values.username }}">
        {% endif %}
    </label>
    
    <label for="email">
        Email
        {% if (errors.email) %}
        <span class="error">(well formed email)</span>
        <input type="text" name="email" id="email" placeholder="Email" value="{{ values.email }}" aria-invalid="true">
        {% else %}
        <input type="text" name="email" id="email" placeholder="Email" value="{{ values.email }}">
        {% endif %}
    </label>
    
    <label for="password">
        Password
        {% if (errors.password) %}
        <span class="error">(at least 8 characters)</span>
        <input type="password" name="password" id="password" placeholder="Password" aria-invalid="true">
        {% else %}
        <input type="password" name="password" id="password" placeholder="Password">
        {% endif %}
    </label>
    
    <button type="submit"><i class="fas fa-edit"></i> Sign up</button>
</form>
<script>
    const form = document.querySelector('form');

    async function handleSubmit(event) {
        event.preventDefault();
        const formData = new FormData(event.target);
        const username = formData.get('username');
        const email = formData.get('email');
        const password = formData.get('password');
        const body = { username, email, password };
        try {
            const res = await fetch('/api/auth/signup', {
                method: 'POST',
                body: JSON.stringify(body),
                headers: {
                    'content-type': 'application/json'
                }
            });
            if (res.status === 200) {
                window.location.href = '/auth/login';
            }
        } catch (err) {
            console.log(err);
        }
    }

    form.addEventListener('submit', handleSubmit);
</script>

{% endblock %}
