<footer class="container">
    <small>
        Contribute on
        <a href="https://gitlab.com/guidoux-fruits/website">
            <i class="fab fa-gitlab"></i> GitLab
        </a>
    </small>
</footer>
