<nav class="container-fluid">
    <ul><li><strong><a class="contrast" href="/home"><i></i>Guidoux Fruits</a></strong></li></ul>
    <ul>
        <!-- if is authenticated -->
        {% if username %}
        <li><a class="contrast" href="/contents"><i ></i>Contenu</a></li>
        <li><a class="contrast" href="/"><i class="fas fa-map-marker-alt"></i> Website</a></li>
        <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
        {%  else  %}
        <li><a href="/auth/login"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
        <li><a href="/auth/signup" class="contrast"><i class="fas fa-edit"></i> Sign up</a></li>
        {% endif %}
    </ul>
</nav>
