{% extends "layout.njk" %}

{% block body %}
<div>
    <h1><i class="fas fa-map-marker-alt"></i> A registry for <span id="keyword">Guidoux Fruits</span></h1>
    <p>
        Solaid
    </p>
</div>
{% endblock %}
