<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Guidoux fruits</title>
    <meta
        content="Guidoux Fruits vous accueille avec plaisir du lundi au samedi. Notre self est toujours ouvert en dehors des heures d'ouverture du magasin."
        name="description">
    <meta
        content="yverdon auto-cueillette autocueillette cueillette suisse fraise pomme poire cronay pomy guidoux fruits légumes cerise self-service ferme produit vaud raisinée courge jus oeufs coings légufrais vulliemin muller"
        name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Knight - v4.3.0
    * Template URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <a href="index.html" class="hero-logo" data-aos="zoom-in"><img src="assets/img/hero-logo.png" alt=""></a>
            <h1 data-aos="zoom-in">{{ content.homepage }}</h1>
            <a data-aos="zoom-in" href="#services" class="btn-get-started scrollto">Aller sur le site</a>
        </div>
    </section><!-- End Hero -->

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#services">Bienvenue</a></li>
                    <li><a class="nav-link scrollto" href="#featured">Nos produits</a></li>
                    <!-- <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li> -->
                    <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
                    {# <li><a class="nav-link scrollto" href="#pricing">Prix</a></li> #}
                    <li><a class="nav-link scrollto" href="#contact">Horaires et Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>{{ content.message }}</h2>
                    <p>{{ content.description }}</p>

                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1">
                            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
                                <i class="bx bx-basket"></i>
                                <h4>Vente à la ferme</h4>
                                <p>C'est avec plaisir que nous vous servons dans notre local de vente à Cronay près
                                    d'Yverdon-les-Bains
                                </p>
                            </div>
                            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
                                <i class="bx bx-user"></i>
                                <h4>Self-service</h4>
                                <p>Notre self toujours ouvert en dehors des heures d'ouverture du magasin</p>
                            </div>
                        </div>
                        <div class="image col-lg-6 order-1 order-lg-2"
                            style='background-image: url("assets/img/courges.jpg");' data-aos="fade-left"
                            data-aos-delay="100"></div>
                    </div>

                </div>
        </section>
        <!-- End Services Section -->

        <!-- ======= Featured Section ======= -->
        <section id="featured" class="featured">
            <div class="container">


                <div class="section-title" data-aos="fade-up">
                    <h2>Nos produits</h2>
                </div>

                <div class="row">
                    <div class="col-lg-6" data-aos="fade-right">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <figure>
                                    <img src="assets/img/featured-1.jpg" alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <figure>
                                    <img src="assets/img/featured-2.jpg" alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <figure>
                                    <img src="assets/img/featured-3.jpg" alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="tab-pane" id="tab-4">
                                <figure>
                                    <img src="assets/img/featured-4.jpg" alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="tab-pane" id="tab-7">
                                <figure>
                                    <img src="assets/img/featured-7.jpg" alt="" class="img-fluid">
                                </figure>
                            </div><!--
                            <div class="tab-pane " id="tab-6">
                                <figure>
                                    <img src="assets/img/featured-6.jpg" alt="" class="img-fluid">
                                </figure>
                            </div>-->
                            <div class="tab-pane" id="tab-5">
                                <figure>
                                    <img src="assets/img/featured-5.jpg" alt="" class="img-fluid">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-left">
                        <ul class="nav nav-tabs flex-column">
                            <!-- <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab-5">
                    <h4>Cerises</h4>
                    <p></p>
                  </a>
                </li> 
                            <li class="nav-item mt-2">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-6">
                                    <h4>Courges</h4>
                                    <p>Potimarron</p>
                                </a>
                            </li>-->
                            <li class="nav-item mt-2">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                                    <h4>Fruits et légumes de saison</h4>
                                    <p>Pommes, poires</p>
                                </a>
                            </li>
                            <li class="nav-item mt-2">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                                    <h4>Produits laitiers</h4>
                                    <p></p>
                                </a>
                            </li>
                            <li class="nav-item mt-2">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                                    <h4>Boulangerie</h4>
                                    <p>Uniquement le samedi</p>
                                </a>
                            </li>
                            <li class="nav-item mt-2">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                                    <h4>Boucherie</h4>
                                    <p></p>
                                </a>
                            </li>
                            <!--
                            <li class="nav-item mt-2">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-5">
                                    <h4>Fraises</h4>
                                    <p></p>
                                </a>
                            </li>-->
                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Featured Section -->

        <!-- ======= Pricing Section ======= -->
		<!--
        <section id="pricing" class="pricing section-bg">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Prix</h2>
                    <p>Voici les prix de nos produits phares, toutes les informations ne sont pas garanties</p>
                </div>

                <div class="row">



                </div>

            </div>
        </section><!-- End Pricing Section -->

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container-fluid">

                <div class="row">
                    <div class="order-1 order-lg-2 video-box" style='background-image: url("assets/img/why-us.jpg");'>
                        <a href="https://fr-fr.facebook.com/100057494378331/videos/1966345570252535/"
                            class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Why Us Section -->

        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Pour tout renseignement, n'hésitez pas à nous contacter </p>
                </div>

                <div class="row justify-content-center" data-aos="fade-up">

                    <div class="col-lg-10">

                        <div class="info-wrap">
                            <div class="row">
                                <div class="col-lg-4 info">
                                    <i class="bi bi-geo-alt"></i>
                                    <h4>Adresse:</h4>
                                    <p>Rue de la Crause 13<br>1406 Cronay</p>
                                </div>

                                <div class="col-lg-4 info mt-4 mt-lg-0">
                                    <i class="bi bi-envelope"></i>
                                    <h4>Email:</h4>
                                    <p>info@guidoux-fruits.ch</p>
                                </div>

                                <div class="col-lg-4 info mt-4 mt-lg-0">
                                    <i class="bi bi-clock"></i>
                                    <h4>Horaires et jours d'ouverture</h4>
                                    <p><b>Lundi - vendredi</b><br>08h00 - 12h00 et 13h30 - 18h00</p>
                                    <p><b>Samedi</b><br>08h00 - 17h00</p>
                                    <p>Fermé les jours fériés</p>
                                </div>

                                <div class="col-lg-4 info mt-4 mt-lg-0">
                                    <i class="bi bi-phone"></i>
                                    <h4>Téléphone:</h4>
                                    <p>+41 24 433 11 69</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->
        <div class="map-section">
            <iframe style="border:0; width: 100%; height: 350px;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2733.2439079210767!2d6.698970715601347!3d46.76008857913767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478dd046cd83a59b%3A0x11c6d870c9598f80!2sGuidoux%20Fruits!5e0!3m2!1sfr!2sch!4v1623508525118!5m2!1sfr!2sch&maptype=satellite"
                frameborder="0" allowfullscreen></iframe>
        </div>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">

            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <a href="#header" class="scrollto footer-logo"><img src="assets/img/hero-logo.png" alt=""></a>
                        <h3>Merci pour votre visite !</h3>
                        <p>Suivez nous sur les réseaux sociaux :</p>
                    </div>
                </div>

                <div class="social-links">
                    <a href="https://fr-fr.facebook.com/profile.php?id=100057494378331" class="facebook"><i
                            class="bx bxl-facebook"></i></a>
                    <a href="https://www.instagram.com/guidoux_fruits/" class="instagram"><i
                            class="bx bxl-instagram"></i></a>
                </div>

            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Knight</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-free-bootstrap-theme/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>
