<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ title }}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3.0.1/build/cookieconsent.min.css" />
        <link href='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3.0.1/build/cookieconsent.min.js" data-cfasync="false" defer></script>
        <script src="/javascripts/script.js" defer></script>
    </head>
    <body>
        {% include "partials/header.njk" %}
        <main class="container">
            {% include "partials/flash.njk" %}
            {% block body %}{% endblock %}
        </main>
        {% include "partials/footer.njk" %}
    </body>
</html>
