{% extends "layout.njk" %}

{% block body %}
<h2><i class="fas fa-map-marker-alt"></i> {{ title }} </h2>
<form novalidate>
    <label for="homepage">
        Homepage
        <input name="homepage" id="homepage" placeholder="Homepage" value="{{ values.homepage }}">
    </label>

    <label for="description">
        Description
        <textarea id="description" type="text" name="description" placeholder="Description">{{ values.description }}</textarea>
    </label>

    <label for="message">
        message
        <input name="message" id="message" placeholder="message" value="{{ values.message }}">
    </label>

    <br>

    <button type="submit"><i class="fas fa-save"></i> Save</button>
</form>
<script>
    const form = document.querySelector("form");

    const id = "{{ id }}";
    let url = `/api/contents/${id}`;

    form.addEventListener("submit", async (event) => {
        event.preventDefault();

        // Get form values
        const homepage = document.getElementById("homepage").value;
        const message = document.getElementById("message").value;
        const description = document.getElementById("description").value;

        // Create the DTO
        const createContentDto = {
            homepage,
            message,
            description,
        };
        

        // Send the DTO to the API
        try {
            const response = await fetch(url, {
                method: "PATCH", // *GET, POST, PUT, DELETE, etc.
                mode: "cors", // no-cors, *cors, same-origin
                cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                credentials: "same-origin", // include, *same-origin, omit
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(createContentDto), // body data type must match "Content-Type" header
            });

            const { status } = response;

            if (status == 400) {
                alert('A field is wrong or missing, please check your input');
            } else {
                location.replace(`/contents`);
            }
        } catch (err) {
            console.error(err);
        }
    });

</script>
{% endblock %}
