{% extends "layout.njk" %}

{% block body %}
<h1><i class="fas fa-pencil-square-o"></i> Ton contenu</h1>
<table>
    <thead>
        <tr>
            <th class="grow">Homepage</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for content in contents %}
        <tr>
            <td>
            {% if content.homepage != "" %}
                {{ content.homepage }}
            {% else %}
                [No title]
            {% endif %}
           </td>
            <td><a href="/contents/{{ content.id }}/edit"><i class="fas fa-pen"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
